body {
  background-color: #ACC297;
  font-family:      Futura, Helvetica, Verdana, sans-serif;
}


div#page {
  width:        1000px;
  margin:       auto;
}




div#content {
  /*
  width:        1000px;
  margin:       0 auto;
  */
}


div#footer {
  text-align:   right;
}


